tbody tr:first-child {
  border-top: 1px solid rgb(222, 226, 230);
}

tr td {
  padding: 12px !important;
}

tr td:first-child {
  width: 30px;
}

tr td:last-child {
  width: 90px;
}

.bi-circle:hover,
.bi-check-circle-fill:hover {
  cursor: pointer;
}

.bi-pencil-fill {
  color: #6b7280;
}

.bi-trash3-fill {
  color: #ef4444;
}

.bi-trash3-fill:hover {
  cursor: pointer;
}
